@use "../Styles/GMVL" as *;

body {
  height: 100vh;
  background-color: $bg-color;
  padding: 4em 1.5em;
  @include flex-centering;

  @include min-mq(1440px) {
    padding: 6em;
  }

  .qr-code {
    .card {
      max-width: 325px;
    }
  }

  .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
    }

    h1 {
      color: $header;
      padding: 1em;
      text-align: center;

      font: {
        size: 1.3rem;
        weight: 700;
      }
    }

    p {
      color: $p-color;
      text-align: center;
      padding: 0 1em;

      font: {
        weight: 400;
        size: 15px;
      }
    }
  }
}